	<title>Scheduler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Style Sheets -->
	<link rel="stylesheet/less" type="text/css" href="css/styles.less"/>
	<link rel="stylesheet/less" type="text/css" href="css/index.less"/>
	<link rel="stylesheet/less" type="text/css" href="css/scheduler.less"/>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<!-- Scripts -->
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/helpers.js"></script>
	<script src="js/less.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
