<div class="row">
    <a class="col-xs-4 text-center nav-module-link" href="/">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <p>Home</p>
    </a>
    <a class="col-xs-4 text-center nav-module-link" href="/accounting">
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        <p>Accounting</p>
    </a>
    <a class="col-xs-4 text-center nav-module-link" href="/assets">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <p>Assets</p>
    </a>
</div>
<div class="row">
    <a class="col-xs-4 text-center nav-module-link" href="/attendance">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <p>Attendance</p>
    </a>
    <a class="col-xs-4 text-center nav-module-link" href="/calculator">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <p>Calculator</p>
    </a>
    <a class="col-xs-4 text-center nav-module-link" href="/cashflow">
        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
        <p>Cashflow</p>
    </a>
</div>
<div class="row">
    <a class="col-xs-4 text-center nav-module-link" href="/inventory">
        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
        <p>Inventory</p>
    </a>
    <a class="col-xs-4 text-center nav-module-link" href="/payroll">
        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
        <p>Payroll</p>
    </a>
    <a class="col-xs-4 text-center nav-module-link" href="/schedule">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <p>Scheduler</p>
    </a>
</div>