<div id="scheduler_employees" class="closed">
    <a class="btn btn-default employee_button pull-left">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <p>Employees</p>
    </a>
    <div id="employee_container">
        <div class="employee_header row">
        <div class="col-xs-5">
            <label>Priority:</label>
            <select>
                <option>Availability</option>
                <option>Skills</option>
                <option>Proximity</option>
            </select>
        </div>
        <div class="col-xs-7">
            <input type="text"  placeholder="Search employees...">
            <button class="btn search_employees"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div><!-- /.col-lg-6 -->

        </div>
        <div id="employee_interior"></div>
    </div>
</div>