<!doctype html>
<html>
<head>
	{{> head}}
</head>
<body>
	{{> navbar}}
	<div id="main-content" class="container-fluid">
		<div id="inventory">
		    <h4>Inventory</h4>
		</div>
	</div>
</body>
</html>