<!doctype html>
<html>
<head>
	{{> head}}
	<script src="js/scheduler_scripts.js"></script>
</head>
<body>
	{{> navbar}}
	<div id="main-content" class="container-fluid">
		<div id="scheduler">
			{{> scheduler_employees}}
		    <h4>Scheduler</h4>
		</div>
	</div>
</body>
</html>